{% if page.bg %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/{{ page.bg }})">
{% else %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/bg.svg)">
{% endif %}

  <div class="cover">

    <div class="cover-text">
      <div class="heading">
        <h1 class="page-title">
          {{ page.title }}
        </h1>
        <h2 class="sub-title">
          {% if page.summary %}
            {{ page.summary }}
          {% endif %}
        </h2>
      </div>

    </div>

  </div>

  <div id="switcher"></div>
</aside>
